<p>
  test works!
</p>
<button (click)="LoadData()">Click me</button>
<button (click)="callApi()">Click me2</button>


<div class="ui middle aligned selection divided list" *ngFor="let bookItem of books">
  <!-- books[] with ngOnInit , [bookItem] => OnInput to book-list-item  -->
   

    <img alt="" class="ui tiny image" *ngIf="bookItem.thumbnails" [src]="bookItem.thumbnails[0].url">

    <div class="content">
      <div class="header">{{ bookItem.title }}</div>
      <div class="description">{{ bookItem.subtitle }}</div>
      <div class="metadata">
        <span *ngFor="let author of bookItem.authors; last as l">
          {{ author }}<span *ngIf="!l ">,</span>
        </span>
      </div>
      <div class="extra">ISBN {{ bookItem.isbn }}</div>
    </div>
  </div>